extends ./layout/index
block contenido
    h1 #{resultadodos.name}
        main.container.mt-5
            
                .row.proximos-viajes.justify-content-center
                    .col-md-6.col-lg-4.mb-4
                        .card
                            img.card-img-top(src=(resultadodos.url_image))
                        .card-body
                        
                            h3 $ #{resultadodos.price}
                                    h3 Descuento #{resultadodos.discount} %